@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8e9dd;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ec775f;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6%;
  border-radius: 15px;
  margin-bottom: 5%;
}

.h-content-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f8e9dd;
}

.h-content-cont .h-content-title {
  font-size: 0.9em;
  padding-bottom: 5px;
}

.h-content-cont .h-content-bal {
  font-size: 1.6em;
  font-weight: 700;
}

.content {
  display: block;
  width: 350px;
  padding: 6%;
  background-color: #fffaf5;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .c-title {
  font-size: 1.5em;
  font-weight: 700;
  color: #382314;
  margin-bottom: 5%;
}

.content .c-chart {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.content hr {
  outline: none;
  width: 95%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 5%;
  margin-bottom: 7%;
  border-top: solid 0.7px;
  color: #93867b;
}

.c-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
}

.c-footer .c-f-left, .c-footer .c-f-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-footer .c-f-l-title {
  font-size: 0.8em;
  color: #93867b;
  margin-bottom: 3%;
}

.c-footer .c-f-l-bal {
  color: #382314;
  font-size: 2em;
  font-weight: 700;
}

.c-footer .c-f-right {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 2%;
  font-size: 0.9em;
}

.c-footer .c-f-r-percent {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: 700;
  font-size: 1.1em;
  color: #382314;
}

.c-footer .c-f-r-title {
  color: #93867b;
}
/*# sourceMappingURL=app.css.map */